{% include('header_main.html') %}

<div class="container d-flex align-items-center vh-100">
    <!-- basic info -->
    <div class="row">
        <div class="col-4">
            <div class="cardclone">
                <div class='c-title'>
                    <span class="nf-mdi-account"></span>
                    About This link
                </div>
                <hr style="margin-bottom: 0;">
                <p>{{ config_vars['blurb'] }}</p>
            </div>
        </div>
    </div>

</div><!-- /.container MAIN-->

{% include('footer_main.html') %}
